<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AngularJS - Demo 6</title>
  </head>
  <body>
    <h1>AngularJS - Demo 6</h1>
    <h2>ng-init – Exempel 4</h2>
    <h2>Skapa en array med ng-init</h2>
    <h2>Iterera över en array med ng-repeat</h2>

    <div ng-app>
      <div ng-init="months=['Jan', 'Feb', 'Mar']">
        <!-- 
               Iterera över en array med ng-repeat
           -->
        <div ng-repeat="month in months">
          {{ month }}
        </div>
        <hr>

        <h2>Visa en HTML-lista över alla månader</h2>
        <ul>
          <li ng-repeat="element in months">{{ element }}</li>
        </ul>
       
        <hr>
       
        <h2>Visa en HTML-tabell över alla månader</h2>

        <table>
            <tr ng-repeat="m in months">
                <td>{{m}}</td>
            </tr>
        </table>

      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src=""></script>
  </body>
</html>
